


<div class="container" id="control">
  <h2 style="width:200px" >Login</h2>
  <br>


  <form class="form-horizontal"  action="/Login/validar" name="form1" method="post">

    <div id="caja">
      <div class="form-group" >
        <label class="col-sm-2" for="usr">Identificación</label>
        <div class="col-sm-10">
          <input type="text" name="usr" class="form-control">
        </div>
      </div>

      <div class="form-group">

        <label class="col-sm-2" for="pwd">Contraseña</label>
        <div class="col-sm-10">
          <input type="password"   name="pwd" class="form-control">


        </div>
      </div>

      <div class="form-group" style="float:right">
        <div class="col-sm-1">
          <button type="submit"  class="btn btn-success"  >ACEPTAR</button>

        </div>

      </div>
    </div>

  </form>
</div>


