<style>

  div.forms2 fieldset
  {
    border:0.25em outset #B2D8B2;
    padding:0.625em 0em;
    margin:0.25em auto;
  }
  div.forms2 legend
  {
    color:#FFFFFF;
    background-color:#99FF99;
    font-weight:bold;
    text-shadow:0em 0.188em 0.188em #000000;
    border:4px groove #FFB4BC;
  }
</style>
  <h1>



    <div class="container" id="control">
      <h2 style="width:200px" >Compra de pizza</h2>
      <br>
    </div>


    <div class="forms2">
  <fieldset>
    <legend>Seleccione los ingredientes para su pizza</legend>
    <div class="forms2">
      <input type="checkbox" name="topping" value="1" /> Anchovies<br />
      <input type="checkbox" name="topping" value="2" /> Bacon<br />
      <input type="checkbox" name="topping" value="3" /> Ham<br />
      <input type="checkbox" name="topping" value="4" /> Pepperoni<br />
      <input type="checkbox" name="topping" value="5" /> Salami<br />
      <input type="checkbox" name="topping" value="6" /> Sausage<br />
    </div>
  </fieldset>
